@import "colors/ibericos.css";
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Noto Sans, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
  }

  window#waybar {
    background-color: @background;
    border-bottom: 0px solid ;
    color: @text;
    transition-property: background-color;
}

window#waybar.hidden {
    opacity: 0.2;
}


#tags {   
margin-right: 6px;

}

#tags button {
    background-color: @background;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
    color: #484848;
    transition: none;
}

#tags button:hover {
    background: inherit;
    text-shadow: inherit;
}

#tags button.focused{  
    background-color: @base;
    color: @text;
}

#tags button.occupied{
    color: @text;    
}

#custom-launcher,
#custom-launcher2 {
  padding-left: 14px;
    padding-right: 14px;
    background-color: @base;
    color: @text;

}

#mode {
     background-color: @background;
    border-bottom: 3px solid @text;
}
#custom-weather,
#disk,
#clock,
#wireplumber,
#cpu,
#memory,
#temperature,
#custom-kernel,
#network,
#mode,
#idle_inhibitor,
#scratchpad
 {
    padding: 0 9px;
    color: @text;
}

#window {
    margin: 0 9px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


@keyframes blink {
    to {
        background-color: @text;
        color: #000000;
    }
}

#network.disconnected { 
    background-color: @alert; 
}


#wireplumber.muted {
    background-color: @alert;
}

#temperature.critical { 
    background-color: @alert; 
}


#idle_inhibitor {
    background-color:@background;
}

#idle_inhibitor.activated {
    background-color: @alert;
    color: @text;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#clock.toltip {
font-family: Noto Sans;
}
