* {
  all: unset; // Unsets everything so you can style everything from scratch
}

.bar-bg {
    background-color: #121212; 
    color: #f7f2b8; 
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: bold;
    color: #f7f2b8;
}

.workspaces {
    font-size: 15px;
    padding:8px;
  }  

.tag-focused, 
.focused {
  color: #3e9f91;
  padding:1 7px;
}

.tag-occupied,
.active {
  color: #f7f2b8;
  padding:1 7px;
}
.tag,
.inactive {
  color: #191919;
  padding:1 7px;
}



.bluetooth, .cpu, .ram, .temp, .disk, .linux, .player, .volume, .kblayout, .wifi{
  color:#f7f2b8;
  font-weight: bold;
  padding:8px;
}

.date {
  padding:8px;
}
.tooltip {
  background-color: #121212;   /* fondo oscuro */
  color: #f7f2b8;              /* texto claro */
  padding: 12px;           /* espacio interno */
  font-size: 13px;
  font-weight: bold;
  margin: 8px;
}

