* {
  all: unset; // Unsets everything so you can style everything from scratch
}

.bar-bg {
    background-color: #121212; 
    color: #fffbd1; 
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: bold;
}

.workspaces {
    font-size: 13px;
    padding:8px;
  }  

.tag-focused, 
.focused {
  color: #3fc3aa;
  padding:1 8px;
}

.tag-occupied,
.active {
  color: #fffbd1;
  padding:1 8px;
}
.tag,
.inactive {
  color: #1a1a1a;
  padding:1 8px;
}

.bluetooth, .cpu, .ram, .temp, .disk, .linux, .player, .volume, .kblayout, .wifi, .date{
  color:#fffbd1;
  font-weight: bold;
  padding:9px;
}

.tooltip {
  background-color: #121212;   /* fondo oscuro */
  color: #fffbd1; /* texto claro */
  border: 1px solid black;
  border-color: #1a1a1a;
  border-radius: 4px;
  padding: 18px;           /* espacio interno */
  font-size: 13px;
  font-weight: bold;
  margin: 9px;
}

