@import "colors/frikios.css";
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Noto Sans, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
  }

  window#waybar {
    background-color: @background;
    border-bottom: 0px solid ;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}



button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    
}
#custom-launcher,
#custom-launcher2 {
  padding-left: 12px;
    padding-right: 12px;
    background-color: @base;
    color: @text;

}

#workspaces button {
    padding-left: 8px;
    padding-right: 8px;
    background-color: @background;
    color: @text;
}

#workspaces button:hover {
        background-color: @hover;
    
  }

#workspaces button.focused {
    background-color: @focus;
      
}

#workspaces button.urgent {
    background-color: @alert; 
   }


#mode {
     background-color: @background;
    border-bottom: 3px solid @text;
}

#disk,
#clock,
#wireplumber,
#cpu,
#memory,
#temperature,
#language,
#custom-kernel,
#network,
#mode,
#idle_inhibitor,
#scratchpad
 {
    padding: 0 10px;
    color: @text;
}

#window,
#workspaces {
    margin: 0 6px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


@keyframes blink {
    to {
        background-color: @text;
        color: #000000;
    }
}

#network.disconnected { 
    background-color: @alert; 
}


#wireplumber.muted {
    background-color: @alert;
}

#temperature.critical { 
    background-color: @alert; 
}


#idle_inhibitor {
    background-color:@background;
}

#idle_inhibitor.activated {
    background-color: @alert;
    color: @text;
}


#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#clock.toltip {
font-family: Noto Sans;
}

