@define-color base   #2fa6c7;
@define-color text   #dfdfdf;
@define-color background  #121212;
@define-color focus #2fa6c7;
@define-color hover #000000;
@define-color secundary #f1b213;
@define-color alert #b63625;


