@import "colors/moon.css";
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
  }

  window#waybar {
    background-color: @background;
    /* border-top: 0px solid black ; */
    color: @text;
    transition-property: background-color;
}
#tags {   
/* border-top: 0px solid black ; */
border-radius: 0;
}
#workspaces button, 
#tags button {
    background-color: @background;
    color: @inactive;
    border-style: solid;
    border-color: @background;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    border-width: 4px 2px 4px 2px;
    padding: 0 6px;
    transition: none;

}
#workspaces button:hover,
#tags button:hover {
    background: inherit;
    text-shadow: inherit;
}


#workspaces button.visible,
#tags button.occupied{
    color: @occupied;    
    background-color: @background;
}
#workspaces button.focused,
#tags button.focused{  
    background-color: @background;
    color: @base;
}

#bluetooth,
#disk,
#clock,
#language,
#wireplumber,
#cpu,
#memory,
#temperature,
#custom-kernel,
#network
 {
    padding: 8px;
    color: @text;
    background-color: @background;
}


tooltip,
#window {
    background-color: @background;
    color: @text;
    padding-left: 4pt;
    padding-right: 4pt;
    opacity: 1.00;
}

tooltip label {
   color: @text;
}

@keyframes blink {
    to {
        background-color: @text;
        color: #000000;
    }
}

#temperature.critical, 
#network.disconnected { 
    color: @alert;
}


#clock.toltip {
font-family: Ubuntu;

}
